<div>
    <h2>Cadastro</h2>

    <input type="text" placeholder="Nome">

    <input type="email" placeholder="E-mail">

    <input type="password" placeholder="Senha">

    <button>Criar Conta</button>

    <a asp-controller="Login" asp-action="Index">
        <button type="button">Login</button>
    </a>
</div>