<h1>Painel do Administrador</h1>
<p>aqui vai ficar o painel de admin, se quiser adicionar alguma coisa..., eu vou colocar</p>
<p>botão de excluir e alterar as coisas, tipo: alterar reserva, alterar dia. tendeu?</p>